# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Ambiente
.env
.env.*  # ex: .env.development, .env.production

# Docker
*.local
docker-compose.override.yml
docker-compose.yml

# Testes
coverage/
jest-*

# Banco
pgdata/
postgres_data/

# Redis
dump.rdb
